*{
  margin:0px; /* Margen externo */
  padding: 0px; /* Margen interno */
  box-sizing: border-box;
  }
                                /* BODY */

body{
  color:white;
  font-family: 'Bitter', serif;
  
    background-color: rgb(119, 174, 174);
  
  }
                                /* HEADER */
header {
  background-color: rgb(229, 228, 237);
  }

  .header__nav{
    display: flex;
    margin-left: 840px;
  }

.header__ul {
  display: flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 20px;
  }

.header__ul li { 
  list-style: none; /* Modifica y/o elimina las viñetas */
  margin: 2px;
  padding: 5px;
  }

.header__ul li a {
  text-decoration: none;
  color: black;
}

                                      /* NAV */
.nav__logo {
  width: 50px;
  height: 50px;
  margin: 10px 0 10px 10px;
}

                                       /* MAIN */
.main__index{
  margin: 0px 75px 30px 75px;
}

.main__h1 {
  text-align: center;
  font-size: 80px;
  color:black;
  margin-top: 30px;
  margin-bottom: 20px;
  }

  .main__section{
    margin: 50px 0;
  }

.main__article--index {
    display: flex;
    justify-content: center;
}

.main__galeria {
  width: 400px; /* ancho  */
  height: 400px; /* alto */
    }

.main_parrafo--index {
  margin: 20px;
  text-align: justify;
  color:black; 
  }

  .main__form--contacto {
    border: solid 5px rgb(39, 89, 107);
    }
  .main__img--ofertas {
    margin-left: 300px;
    margin-bottom: 100px;
    width: 800px;
    height: 700px;
    border-radius: 25px;
  }
  .spam__main--nosotros {
    display: flex;
    align-items: center;

    }

  .main__img--nosotros {
    margin: 60px 0px 30px 320px;
    border-radius: 100px;
  }
  .main__mapa {
    border-radius: 40px;
    margin-left: 400px;
  }

  .form__instagram {
    display: flex;
    justify-content: center;
    }
                                                /* FOOTER */
footer{ 
  background-color: rgb(206, 183, 228);
  text-align: center;
  color:black;
  margin-top: 60px;
  }



