.productos__grid {
  display: grid;
  grid-gap: 20px;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  /* Unidad de grid: fr 1/3*/
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "bolsafresh1 sintaccuntables texto1"
    "bolsafresh2 salsaarcor texto2"
    "bolsafresh3 auriculares texto3"
    "bolsafresh4 milkaoreo texto4"
    "bolsafresh5 coca texto5";

  .texto1,
  .texto2,
  .texto3,
  .texto4,
  .texto5 {
    text-align: justify;
    width: 300px;
  }

  .texto1 {
    grid-area: texto1;
  }

  .texto2 {
    grid-area: texto2;
  }

  .texto3 {
    grid-area: texto3;
  }

  .texto4 {
    grid-area: texto4;
  }

  .texto5 {
    grid-area: texto5;
  }

  .imgPr {
    width: 400px;
    height: 400px;
  }

  .bolsafresh1,
  .bolsafresh2,
  .bolsafresh3,
  .bolsafresh4,
  .bolsafresh5 {
    background-image: url("../recursos/principal-productos.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 26px;
  }

  .bolsafresh1 {
    grid-area: bolsafresh1;
  }

  .bolsafresh2 {
    grid-area: bolsafresh2;
  }

  .bolsafresh3 {
    grid-area: bolsafresh3;
  }

  .bolsafresh4 {
    grid-area: bolsafresh4;
  }

  .bolsafresh5 {
    grid-area: bolsafresh5;
  }

  .sintaccuntables {
    @extend .background-centrado;
    grid-area: sintaccuntables;
    background-image: url("../recursos/sintacuntables.jpg");

  }

  .salsaarcor {
    @extend .background-centrado;
    grid-area: salsaarcor;
    background-image: url("../recursos/salsaarcor.jpg");

  }

  .auriculares {
    @extend .background-centrado;
    grid-area: auriculares;
    background-image: url("../recursos/auriculares.jpg");
    
  }

  .milkaoreo {
    @extend .background-centrado;
    grid-area: milkaoreo;
    background-image: url("../recursos/milkaoreo.jpg");

  }

  .coca {
    @extend .background-centrado;
    grid-area: coca;
    background-image: url("../recursos/coca.jpg");
    
  }

}