@import "variables";
@import "body";
@import "button";
@import "header";
@import "footer";
@import "main";
@import "productos";
@import "mediaqueries";


* {
  margin: 0px;
  /* Margen externo */
  padding: 0px;
  /* Margen interno */
  box-sizing: border-box;
}
